[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tidywikidatar"]
	path = tidywikidatar
	url = https://github.com/edjnet/tidywikidatar
	shallow = true
	registered = true
